.btn{
    @include respond(phone){
        padding: 12px 15px;
        font-size: 1.2rem;
        letter-spacing: .4rem;
        word-spacing: normal;
    }

    padding: 15px 30px;
    border-radius: 100px;
    text-transform: uppercase;
    border: $white;
    display: inline-block;
    background-color: $white;
    font-size: 1.5rem;
    position: relative;
    animation: moveUp 2s ease 0.75s;
    animation-fill-mode: backwards;
    text-decoration: none;
    


}
.btn--blue{
    background-color: $mediumblue;
    color: $white;
    &::after{
        background-color: $mediumblue;
    }
    &:hover::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}
.btn-white{
    color: #777777;
    background-color: #fff;
}
// mixin phải được khai báo đứng trước nơi được sử dụng (include)
@mixin hoverBtn{  // tạo khối css , một biến chứa nhiều thuộc tính css bằng mixin
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}
.btn:hover{
    transform: translateY(-3px);
    @include hoverBtn
}
.btn:active{
    outline: none;
    transform: translateY(-1px);
    @include hoverBtn // nhập khối css được tạo từ mixin
}

.btn:active a,.btn:hover a{
    color: rgb(95, 92, 100);
    }

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    border-radius: 100px;
    z-index: -1;
    transition: all .5s;
    }
.btn-white::after{
    background-color: $white;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.enroll-btn{
    @include respond(tab-port){
        font-size: 1.4rem;
        padding: 1rem 4rem;
        
    }
}