

/* COLORS: */
$lightblue: #8e9efc; /*rgb(142, 158, 252)  */
$mediumblue:#5a73fc; /* rgb(90, 115, 252) */
$darkblue:#1c3eff; /* rgb(28, 62, 255) */
$white: #fff;
$black: #000;
/* RGB */
// About section variables
$lightgrey1: #f7f7f7;
// Cards secction
$lightyellow: #ffb900;
$orangedark: #ff7730;
$tertiarylight: #55c57a;
$tertiarydark: #28b485;
// footer
$darkgrey: #333;
